<html>
    <body>
         <a href='/'>Home page</a>
        <form method='post'>
            <div>
           <label>
                Address:
                <input type='text' name='address'>
           </label>
           <label>
                Specialisation:
                <input type='text' name='speciality'>
           </label>
           <label>
                Type:
                <input type='text' name='clinic_type'>
           </label>
           <input type="submit" value="Add">
           </div>
        </form>
    </body>
</html>