<html>
    <body>
         <a href='/'>Home page</a>
        <form method='post'>
            <div>
            <label>
                    Polis:
                    <input type='number' name='id'>
            </label>
            <label>
                Surname:
                <input type='text' name='surname'>
            </label>
            <label>
                Name:
                <input type='text' name='name'>
            </label>
            <label>
                Patronymic:
                <input type='text' name='patronymic'>
            </label>
           <label>
                Address:
                <input type='text' name='address'>
           </label>
           <label>
            Date of birth:
            <input type='date' name='birth'>
             </label>
           <input type="submit" value="Add">
           </div>
        </form>
    </body>
</html>