<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <body>
        <a href='/'>Home page</a>
        <h1>Special query page</h1>
        <h2>Doctors of patient</h2>
        <form method='post'>
            <label>
                Enter patient's polis
                <input type='number' min='1' name='patient_id' value='{{patient_id}}'>
            </label>
            <input type='submit' value='Find doctors'>
        </form>
        {% for doctor in doctors %}
        <div class="Clinic">
            <h3>{{doctor.surname}} {{doctor.name}} {{doctor.patronymic}}</h3>
            <h2>{{doctor.speciality}}</h3>
            <p>{{doctor.address}}</p>
            <form >
                <input type="hidden" name="id_to_remove" value={{doctor.id}}>
                <input type="submit" value="Remove">
            </form>
            <form action="edit">
                <input type="hidden" name="id_to_edit" value={{doctor.id}}>
                <input type="submit" value="Edit doctor info">
            </form>
        </div>
    {% endfor %}
    </body>
</html>