<html>
    <body>
        <a href='/'>Home page</a>
        <form method='post'>
            <div>
                <label>
                    Surname:
                    <input type='text' name='surname' value={{doctor.surname}}>
                </label>
                <label>
                    Name:
                    <input type='text' name='name' value={{doctor.name}}>
                </label>
                <label>
                    Patronymic:
                    <input type='text' name='patronymic' value={{doctor.patronymic}}>
                </label>
                <label>
                    Speciality:
                    <input type='text' name='speciality' value={{doctor.speciality}}>
                </label>
                <label> Select clinic
                    <select name="clinic_id">
                    {% if selected_clinic%}
                        <option value="{{selected_clinic.id}}">{{selected_clinic.address}}</option>
                    {% endif %}
                    {% for clinic in clinics%}
                        <option value="{{clinic.id}}">{{clinic.address}}</option>
                    {%endfor%}
                    </select>
                </label>
           <input type="submit" value="Add">
           </div>
        </form>
    </body>
</html>